{% extends 'base.html' %}

{% load static %}

{% block title %}Django's Blog - Contact{% endblock %}
        {% block header %}
        <!-- Page Header-->
        <header class="masthead"
                style="background-image: url({% static 'assets/img/contact-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Contact Me</h1>
                            <span class="subheading">Have questions? I have answers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}


        {% block contents %}
<!-- Main Content -->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <!-- タイトル部分 -->
        <div class="container text-center mt-4">
            <h2 class="text-center">お問い合わせ</h2>
        </div>
        
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <br>
                <strong>連絡を送りたいですか?
                    以下のフォームに記入してメッセージを送信してください。<br>
                    できるだけ早くご連絡します。
                </strong>

                <!-- ボタンの中央揃え -->
                <div class="d-flex justify-content-center mt-3">
                    <a href="{% url 'strategyapp:index' %}" class="btn btn-primary ms-2">マイページ</a>
                    <a href="{% url 'strategyapp:tweets_list' %}" class="btn btn-primary ms-2">掲示板</a>
                </div>

                {% if messages %}
                <ul class="list-unstyled" style="list-style: none;">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

                <!-- フォーム部分 -->
                <div class="my-5 text-start"> <!-- 左揃えのために text-start を追加 -->
                    <form method="post">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="form-group mb-3">
                            {{ field.label_tag }} <!-- ラベルを表示 -->
                            {{ field }} <!-- 入力フィールド -->
                        </div>
                        {% endfor %}
                        
                        <button type="submit"
                                class="btn btn-primary"
                                id="sendMessageButton">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}