<!doctype html>
<html lang="ja">
  <head>
    <style>
      /* padクラスのスタイル設定 */
      .pad{
        background-color: lavender; /* 背景色をラベンダーに設定 */
        border: solid 2px; /* 枠線を2pxの実線に設定 */
        padding-top: 30px; /* 上の余白を30pxに設定 */
        padding-bottom: 50px; /* 下の余白を50pxに設定 */
        padding-left: 100px; /* 左の余白を100pxに設定 */
        margin-top: 50px; /* 上の外側の余白を50pxに設定 */
        margin-right: 70px; /* 右の外側の余白を70pxに設定 */
        margin-left: 70px; /* 左の外側の余白を70pxに設定 */
      }
    </style>
  </head>
 
  <body>
    <div class="pad">
      <!-- パスワードリセット完了メッセージ -->
      <h2>パスワードがリセットされました。</h2>
      <p>
        Your Password has been set. You may go ahead and login
      </p>
      <br>
      <!-- トップページへのリンク-->
      <!-- 必要に応じてトップページへのリンクをここに追加できます -->
    </div>
  </body>
</html>
